*{
	margin: 0;
	padding: 0;
	

}

body{
	background: #e6e6e6;
}	

header, .main, .article{
	background:;
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
}

nav{
	margin: 20px auto;
	width: 100%;
	max-width: 1000px;
}

nav ul{
	list-style: none;
}

header nav{
	background: #528ED5;
}

header nav ul{
	list-style: none;
}

nav > ul{
	display: table;
	overflow: hidden;
	width: 100%;
	background:#000;
	position: relative;
}

nav > ul li{
	display: table-cell;
}

/*Submenu*/

nav > ul > li:hover > ul{
	display: block;
	
}



nav > ul > li > ul {
	display: block;
	position: absolute;
	background: #000;
	left: 0;
	right: 0;
}

nav > ul >li >ul{
	display: none;
}

nav > ul li a{
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;
}

nav > ul >li > ul >li a:hover{
	background: #5da5a2;
}

nav > ul > li > a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
   transition: all .3s ease;

}

nav > ul > li > a span .icon{
	display: block;
	line-height: 60px;

}

nav > ul > li > a:hover > span{
	top: 0;
}

nav ul li a .primero{
	background: #0e5061;
}

nav ul li a .segundo{
    background: #5da5a2;
}

nav ul li a .tercero{
	background: #f25724;
}

nav ul li a .cuarto{
    background: #174459;
}


header{
	background: #B9C0D0;
}

header h2{
	font-family: "arial black";
	font-size: 30px;
	color: #153884;
	text-align: center;
}

header h3{
	font-family: "arial black";
	font-size: 25px;
	color: #153884;
	text-align: center;
}

/*Hasta aqui termina el menu para todas las paginas*/

 .centro{
	 margin:10px auto;
	 display:block;
	 border-radius:10px;
	 border:#0B2368 5px solid;

    }

article p, p, ul{
	font-size: 16px;
	font-family: "arial";
}

.main img, video{
	width: 75%;
	max-width: 1000px;
}

h1{
	color: #17930B;
	font-family: "arial black";
	font-size: 30px;
}

h2{
	font-family: "arial black";
	font-size: 24px;
	color: #1A987A;
}

footer{
	background: #000;
	color: #fff;
	clear:both;
	padding: 20px 0px;
	text-align: center;
}

